/* Mise en forme générale */
  *{
  font-family : arial;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
h1 {
  font-variant: small-caps;
  font-size:28px;
}
h3 {
  font-variant: small-caps;
  margin: 0px 0px 0px 0px;
}

/*Bouton remonter en haut*/
#bouton_Haut {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #E80969;
  padding: 15px;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  font-size: 20px;
}
#bouton_Haut:hover {
  background-color: #555;
}
/* Image de fond */
body {
  background: url('images/monde.jpg') no-repeat center fixed;
}
/* Mise en forme de la barre de menu */
nav {
    width: 100%;
    height:80px ;
    background-color: #0ddbd8 ;
    display: flex ;
}
#logo_BankUP {
  height: 75px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 4px;
}
.bouton_Connexion {
  float: right;
  font-size: 90%;
  color: white;
  font-weight: bold;
  background-color: #E80969;
  margin-right: 5px;
  margin-bottom: 6px;
  margin-top: 25px;
  border-radius: 24px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: 0;
}
.bouton_Inscription {
  float:left;
  font-size: 90%;
  color: white;
  font-weight: bold;
  background-color: #555;
  margin-right: 15px;
  margin-bottom: 6px;
  margin-top: 25px;
  margin-left: 5px;
  border-radius: 24px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: 0;
}
.bouton_Connexion:hover {
  background-color: rgba(246,18,116);
}
.bouton_Inscription:hover{
  background-color: rgba(103,103,97);
}

/* Mise en forme du carrousel sur la page d'accueil*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.image_Carrousel {display: none}
img {vertical-align: middle;}
.carrousel {
  position: relative;
  margin: auto;
  margin-top: 120px;
  margin-left:5px; 
  margin-right:5px;
}
/* Mise en forme des points du carrousel */
.point {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .point:hover {
  background-color: #717171;
}
  
/* Mise en forme des formulaires*/
.info_Requise {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: left;
  outline: 0;
}
.info_Requise:focus {
  background-color: #ddd;
  outline: none;
}
.info_Modifiable {
  width: 95%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: white;
  text-align: left;
  line-height: 1.42857;
  color: #656565;
  border: 1px solid #d6d8d8;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  
}
.info_Fixe {
  width: 95%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  text-align: left;
  line-height: 1.42857;
  color: #656565;
  border: 1px solid #d6d8d8;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  }

/*Mise en page des pages de connexion et d'inscription*/
.item_Connexion_Inscription {
  display: none;
  padding: 10px 20px;
  height: 250%;
  background-color: white;
  margin-left:10%; 
  margin-right:10%; 
  margin-top: 60px;
  margin-bottom: 50px; 
  align-content: center;
  }
.formulaire_Connexion_Inscription {
  border: 1px solid #ddd;
  padding: 20px 20px 80px 20px;
  }

/* Mise en page EspaceClient-Espace Admin*/

  /*Mise en page du Menu*/
.lienEC {
  background-color: white;
  border-radius: 0;
  color: #555;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0px;
  font-size: 100%;
  width: 25%;
  height: 50px;
  font-variant: small-caps;
}
.item {
  display: none;
  padding: 10px 20px;
  height: 250%;
  background-color: white;
  margin-left:10%; 
  margin-right:10%; 
  margin-top: 100px;
  margin-bottom: 50px; 
  align-content: center;
  }

/*Mise en page de l'onglet Information*/
div#informations.item table {
  margin-top:20px;
}
div#informations.item button {
  margin-top:0px;
  border-radius: 0px;
  width: 250px;
  height: 50px;
  font-size:90%; 
  float:right; 
  font-variant: small-caps;
  }

/*Mise en page de l'onglet Comptes*/ 
div#comptes.item table {
  width: auto;
  margin-bottom : 20px;
  margin-top: 30px; 
 }
 .onglet_compte {
  border:none; 
  background-color: #E80969; 
  margin:30px 0px 20px 5px;
  height: 50px;
}
.bouton_Compte {
  cursor: pointer;
  border: none;
  outline: 0;
  margin:0% 0% 0% 20%;
  background-color: #E80969;
}
.bouton_Mini_Compte {
  cursor: pointer;
  border: none;
  outline: 0;
  margin:0% 0% 0% 20%;
  background-color: #555;
  float: right;
}
.onglet_Paiement {
  margin-left: 30px;
  background-color: #555; 
  height : 50px;
}

/*Mise en page de l'onglet Opérations et des onglets Espace Admin*/
.liste {
  width: 100%;
  margin-bottom: 50px;
}
.liste th, .liste td {
  border-bottom: 1px solid #ddd;
  text-align: left; 
}
.liste th {
  padding-bottom: 15px;
  padding-top: 35px;
}
.liste td {
  padding-bottom: 5px;
  padding-top: 5px;
}

/*Mise en page de l'onglet Bénéficiaire*/ 
.ajout_Beneficiaire {
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
}
div#beneficiaires form.formulaire {
  width: 100%;
  margin-top: 3px;
}
.onglet_Beneficiaire_1 {
  cursor: pointer;
  border: none;
  outline: 0;
  height: 50px; 
  background-color: #555;
  width:400px;
}
.onglet_Beneficiaire_2 {
  cursor: pointer;
  border: none;
  outline: 0;
  height: 50px; 
  background-color: #4caf50;
  width:330px;
}
.bouton_Beneficiaire {
  cursor: pointer;
  border: none;
  outline: 0;
  width:auto; 
  height: auto; 
  padding-left:0px 0px 0px 0px; 
  margin:0% 0% 0% 20%;
  background-color: #555;
}
div#liste_Beneficiaire th, div#liste_Beneficiaire td {
    border-bottom: 1px solid #ddd;
    text-align: left; 
}
div#liste_Beneficiaire th {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom:15px;
}
div#liste_Beneficiaire td {
  padding-top: 10px;
  padding-bottom:10px; 
}

.bouton_Suppression {
  background-color:white;
  cursor: pointer;
  border: none;
  outline: 0;
  width:auto; 
  height: auto; 
  padding-left:0px 0px 0px 0px; 
  margin:5px 0px 5px 0px;
  vertical-align: middle;
}
.bouton_Ouvrir {
  border-radius: 0px;
  width: 200px;
  height: 50px;
  font-size:90%; 
  float:left; 
  font-variant: small-caps;
  background-color: #4CAF50;
  margin-left: 5px;
  color: white;
  cursor: pointer;
  border: none;
  outline: 0;
}
.bouton_Virement, .bouton_Profil {
  border-radius: 0px;
  width: 150px;
  height: 30px;
  font-size:80%; 
  float:left; 
  font-variant: small-caps;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  outline: 0;
  margin:6px 0px 5px 0px;
}
.bouton_Ouvrir_Connexion_Inscription {
  width: 180px; 
  float:right; 
  border-radius: 0px;
  height: 50px;
  font-size:90%; 
  font-variant: small-caps;
  background-color: #4CAF50;
  margin-right: 35px;
  color: white;
  cursor: pointer;
  border: none;
  outline: 0;
}

