/*Code couleur : 
Bleu : #0DDBD8
Rose : #E80969
Gris : #f1f1f1 --> #55555 plus foncé et plus lisible
Vert de bouton #4caf50
*/

/* Mise en forme générale */
*{
  font-family : arial;
  box-sizing: border-box;
}

/* Mise en forme contenu de base (sans formulaire) */
#contenu {
  width: 75%;
  margin: auto;
}

/* Image de fond */
body {
  background: url('monde.jpg') no-repeat center fixed;
}

/* Mise en forme de la barre de menu */
nav {
    width: 100%;
    height:10% ;
    background-color: #555 ;
    display: flex ;
    color: white;
}

#logo_BankUP {
  height: 70px;
  width: 140px;
  margin-top: 2px;
}

#item_Menu {
  width: 400px;
  vertical-align: middle;
}

.bouton_Connexion {
  float: right;
  font-size: 80%;
  color: white;
  font-weight: bold;
  background-color: #E80969;
  box-shadow: 0 2px 0 0 #C40859;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 15px;
  border-radius: 24px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: 0;
  opacity: 1;
}

.bouton_Inscription {
  float: right;
  font-size: 80%;
  color: white;
  font-weight: bold;
  background-color: #0DDBD8;
  box-shadow: 0 2px 0 0 #555;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 0px;
  border-radius: 24px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: 0;
  opacity: 1;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}


/* Mise en forme des formulaires */
.formulaire {
    width: 75%;
    margin: auto;
    background-color: white;
}

label {
  font-weight: bold;
}

input[type=text], input[type=password], input[type=date], input[type=email], #pays, #civilite, #type_Compte {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: left;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, #pays:focus, #civilite:focus, #type_Compte:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.bouton_Form::after {
  content: "";
  clear: both;
  display: table;
}



/* Mise en page des boutons Valider/Annuler*/

.bouton_Valider {
  float: right;
  background-color: #4CAF50;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 30px;
  margin-left: 5px;
  border-radius: 24px;
  width: 150px;
  height: 30px;
  color: white;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.bouton_Annuler { 
  float: right;
  background-color: #555;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 30px;
  border-radius: 24px;
  width: 150px;
  height: 30px;
  color: white;
  cursor: pointer;
  border: none;
  opacity: 1;
}

/*Bouton remonter en haut*/
#bouton_Haut {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #E80969;
  padding: 15px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

#bouton_Haut:hover {
  background-color: #555;
}

      /* Mise en page du menu de l'espace client*/
     
/*.container {
  padding: 16px;
}*/


/* Menu EspaceClient */
.lienEC {
  background-color: #0DDBD8;
  border-radius: 0;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0px;
  font-size: 100%;
  width: 25%;
}

.item_EC {
  display: none;
  padding: 50px 20px;
  height: 100%;
  background-color: white;
}

/* Mise en forme des slideshows*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Mise en forme des Meet your team"*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  display: flex;
  align-self: center; 
  margin-top: 50px;
}


.columnfabien, .columnlisa {
  flex-grow:2;
  width: 30%;
}

.columnfabien {
  padding: 50px 10px 0px 300px;
  
  }

.columnlisa {
padding: 50px 300px 0px 10px;

}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-grow:2;
  width: 100%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

input[type=textsearch] {
  width: 15%;
  border: none;
  color: #f1f1f1;
  background-color: #0DDBD8;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=textsearch]:focus {
  width: 100%;
}

/*input[type="textsearch"]::placeholder{color: red;}*/






